.formulario {
  margin-top: 3%;
}

.container p {
	margin-top: 5%;
    font-size: 35px;

}

.boton{
	margin-top: 2%;
    display: flex;
    justify-content: center;
}

#btn-info{
	font-size: 35px;
	color: y
}
